* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f0f0fe5, #1c1c1c);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.containerLogin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLogin {
  width: 380px;
  background: #111111ee;
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
}

.titleLogin {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #38bdf8;
}

.inputBoxLogin {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.inputBoxLogin input {
  width: 100%;
  padding: 14px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #333;
}

.inputBoxLogin span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.inputBoxLogin i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.inputBoxLogin input:focus ~ span,
.inputBoxLogin input:valid ~ span {
  top: -6px;
  font-size: 12px;
  color: #38bdf8;
}

.inputBoxLogin input:focus ~ i,
.inputBoxLogin input:valid ~ i {
  width: 100%;
}

.linksLogin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.linksLogin a {
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
}

.linksLogin a:hover {
  color: #38bdf8;
}

.btnLogin {
  width: 100%;
  padding: 11px;
  background: #38bdf8;
  border: none;
  border-radius: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btnLogin:hover {
  background: #0ea5e9;
}

.dividerLogin {
  margin: 26px 0;
  text-align: center;
  position: relative;
}

.dividerLogin span {
  font-size: 12px;
  color: #999;
  background: #111;
  padding: 0 12px;
  position: relative;
  z-index: 1;
}

.dividerLogin::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333;
}

.socialLogin {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.socialBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #333;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.socialBtn:hover {
  /* transform: scale(1.1); */
  border-color: #2e2e2e;
  /* background-color: #000; */
}

.socialBtn.google {
  color: #b8b8b8;
}
.socialBtn.google:hover {
  color: #d90000;
}

.socialBtn.facebook {
  color: #b8b8b8;
}
.socialBtn.facebook:hover {
  color: #1877f2;
}

.passwordBox {
  position: relative;
}

.togglePassword {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  font-size: 16px;
}

.passwordBox input:focus ~ .togglePassword {
  color: #38bdf8;
}

.togglePassword:hover {
  color: #38bdf8;
}

@media (max-width: 480px) {
  .boxLogin {
    width: 90%;
    padding: 30px 20px;
  }
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
